 #ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    list-style: none;
    padding: 0;
}

#li {
    transition: 5s;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}
#img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
}
